body {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-fluid {
	display: flex;
	flex-direction: column;
}
.row {
	display: flex;
}
.board-cell {
	width: 100px;
	height: 100px;
	font-size: 30px;
	border: 3px solid black;
	background: linear-gradient(90deg, #8a6ac1 0%, #8a6ac1 5%, #a46ac1 5%, #a46ac1 10%, #be6ac1 10%, #be6ac1 15%, #c16aaa 15%, #c16aaa 20%, #c16a90 20%, #c16a90 25%, #c16a76 25%, #c16a76 30%, #c1796a 30%, #c1796a 35%, #c1936a 35%, #c1936a 40%, #c1ad6a 40%, #c1ad6a 45%, #bbc16a 45%, #bbc16a 50%, #a1c16a 50%, #a1c16a 55%, #87c16a 55%, #87c16a 60%, #6dc16a 60%, #6dc16a 65%, #6ac181 65%, #6ac181 70%, #6ac19b 70%, #6ac19b 75%, #6ac1b6 75%, #6ac1b6 80%, #6ab2c1 80%, #6ab2c1 85%, #6a98c1 85%, #6a98c1 90%, #6a7ec1 90%, #6a7ec1 95%, #706ac1 95%, #706ac1 100%, #8a6ac1 100%, #8a6ac1 105%);
	background-size: 1800% 1800%;
	-webkit-animation: rainbow 100s infinite;
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
